<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

<body>	
	<table>
		<tbody>
			<tr>
				<th>ID</th>
				<th>Value</th>
			</tr>

			<tr  th:if="${bids.isEmpty()}">
				<td colspan="2">No Bids Available</td>
			</tr>
			<tr class= "item" th:each="bid : ${bids}">
				<td><span th:text="${bid.id}"></span></td>
				<td><span th:text="${bid.value}"></span></td>
			</tr>
		</tbody>
	</table>
</body>