<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="main_menu">
		<h2>
			<span th:remove="tag">Welcome </span> <small th:text="${userName}">name</small>
		</h2>
		<ul>
			<li><a class="active" href="/home">Home</a></li>
			<li><a href="/job">Create Job</a></li>
		</ul>
	</div>
	
	<label class="switch">
	  <input type="checkbox" checked>
	  <span class="slider"></span>
	</label>
	
	<table id="active_table">
		<tbody>
			<tr>
				<th><h1>ACTIVE</h1></th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Job Name</th>
				<th>Description</th>
				<th>Lowest Bid</th>
			</tr>

			<tr  th:if="${activeJobs.isEmpty()}">
				<td colspan="2">No Jobs Available</td>
			</tr>
			<tr class= "item" th:each="job : ${activeJobs}">
				<td><span th:text="${job.id}"></span></td>
				<td><span th:text="${job.name}"></span></td>
				<td><span th:text="${job.description}"></span></td>
				<td><span th:text="${job.lowestBid}? ${job.lowestBid.value} : 'No Bids'"></span></td>
			</tr>

			<tr id="hide">
				<td>
					<label>Bid: <input id="bid" type="text" name="bid" /></label>
				</td>
				<td>
					<input id="bid_submit" type="button" value="Submit Bid"></input>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table id="inactive_table">
		<tbody>
			<tr>
				<th><h1>INACTIVE</h1></th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Job Name</th>
				<th>Description</th>
				<th>Lowest Bid</th>
			</tr>

			<tr  th:if="${inactiveJobs.isEmpty()}">
				<td colspan="2">No Jobs Available</td>
			</tr>
			<tr class= "inactive_item" th:each="job : ${inactiveJobs}">
				<td><span th:text="${job.id}"></span></td>
				<td><span th:text="${job.name}"></span></td>
				<td><span th:text="${job.description}"></span></td>
				<td><span th:text="${job.lowestBid}? ${job.lowestBid.value} : 'No Bids'"></span></td>
			</tr>
		</tbody>
	</table>



	<script type="text/javascript">
		
		$("#inactive_table").hide();
	
		$("#bid_submit").click(function(){
			$.post("/bid", 
					{jobId: $(".active_tr").find("td:eq(0)").text(),
					 bidValue: $("#bid").val()},
					 function(){
						 alert("success");
						 location.reload();
					 }
			).fail(function(){
				alert("Incorrect Bid Value")
			})
			
		})
		
		$(".item").click(function() {
			$.redirectPost("/jobdetails", {jobId: $(this).find("td:eq(0)").text()});
		});
		
		$(".inactive_item").click(function() {
			$.redirectPost("/jobdetails", {jobId: $(this).find("td:eq(0)").text()});
		});
		
		$(".item").mouseenter(function() {
			$("#hide").hide();
			$(".active_tr").removeClass("active_tr");
			
			$(this).addClass("active_tr");
			$(this).after($("#hide"));
			$("#hide").show();
		});
		
		
		$(".slider").click(function(){
			if($("#active_table").is(":visible")){
				$("#active_table").hide();
				$("#inactive_table").show();
			} else {
				$("#active_table").show();
				$("#inactive_table").hide();
			}
		})
		
		
		$.extend({
			redirectPost: function(location, args){
		        var form = '';
		        $.each( args, function( key, value ) {
		            form += '<input type="hidden" name="'+key+'" value="'+value+'">';
		        });
		        $('<form action="'+location+'" method="POST">'+form+'</form>').appendTo('body').submit();
		    }
		});
	</script>

</body>