<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	
	<form action="/job" th:object="${job}" method="POST" enctype="utf8">
	  <div class="container">
	    <h1 th:text="#{job.publish}">Publish a Job</h1>
	    <p th:text="#{job.fillForm}">Please fill in this form to create a Job.</p>
	    <hr>
	
	    <label th:text="#{job.name}" for="name"><b>Job Name</b></label>
	    <input type="text" th:placeholder="#{job.name}" name="name" th:field="*{name}" required>
	
	    <label th:text="#{job.description}" for="description"><b>Job Description</b></label>
	    <input type="text" th:placeholder="#{job.description}" name="description" th:field="*{description}" required>
	
	    <hr>
	    
	    <button th:text="#{job.submit}" type="submit" class="jobbtn">Submit</button>
	  </div>
	</form>
	
</body>

<footer>
	<p th:text="#{language.change}">You can change the language here:</p>
	<a th:href="@{job?lang=ru}"><i class="flag-icon flag-icon-ua">Russian</i></a>&nbsp;
	<a th:href="@{job?lang=ie}"><i class="flag-icon flag-icon-ie">English</i></a>
</footer>

