<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Welcome to the login</h1>
	<div class="login-page">
		<div class="form">
			<div class="error" th:if="${param.error}">Invalid user name and password.</div>
			<div class="error" th:if="${param.logout}">You have been logged out.</div>
			<form class="login-form" method="post" th:action="@{/login}">
				<label>User name: <input type="text" name="username"/></label>
				<label>Password: <input type="password" name="password"/>
				</label><input type="submit" value="Sign In"/>
			</form>
		</div>
	</div>
</body>

