<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../static/css/homepage.css" th:href="@{/css/homepage.css}"
	rel="stylesheet" />
</head>
<body>
	<form class="login-form" method="post" th:action="@{/login}">
			<div class='container'>
				<div class='window'>
					<div class='overlay'></div>
					<div class='content'>
						<div class='welcome'>Login</div>
						<div class='subtitle' th:text=#{login.subtitle}>Please enter your details</div>
						<div class='input-fields'>
							<div class="error" th:if="${param.error}">Invalid user name
								or password.</div>
							<div class="error" th:if="${param.logout}">You have been
								logged out.</div>
							<label>User name: <input type="text" class='input-line full-width' name="username" /></label> 
							<label>Password: <input type="password" class='input-line full-width' name="password" /></label>
							<input class='ghost-round full-width' type="submit" value="Sign In" />
						</div>
						<div class="signin">
							<p>
								New here? <a href="/registration">Register for an account</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
	</form>
</body>
